$hoverColor: #f67280;
$textColor: #ffff;
$strokeColor: #f9f7f7;
$bgColor: #112d4e;
$titleColor: #ffe4e1;
$contentColor: #fedbf0;
$loadingColor: #3f72af;
$text-shadow: 2px 2px 10px #fff;

// $hoverColor: #f67280;
// $textColor: #8785a2;
// $strokeColor: #112d4e;
// $bgColor: #ffe2e2;
// $titleColor: #8785a2;
// $contentColor: #8785a2;
// $loadingColor: #3f72af;
// $text-shadow: 2px 2px 10px #f6f6f6;
