// $mainColor: #cd6798;
// $textColor: #ffff;
// $nightBgColor: #222;
// $titleColor: #ffe4e1;
// $contentColor: #fedbf0;

$hoverColor: #f67280;
$textColor: #ffff;
$nightBgColor: #6c587b;
$titleColor: #ffe4e1;
$contentColor: #fedbf0;
$loadingColor: #355c7d;
